<div class="footer-distributed">
    <div class="footer-right">
        <a href="https://www.linkedin.com/in/jason-wang-983035158/" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
        <a href="https://github.com/jman19" target="_blank"><mat-icon svgIcon="github"></mat-icon></a>
    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a mat-button>Home</a>
            |
            <a mat-button (click)="openAbout()">About</a>
        </p>
        <p>The One Stop Shop &copy; 2019</p>
    </div>
</div>
