<form [formGroup]="purchaseForm" style="padding: 10px">
    <div mat-dialog-content>
        <h4>PAYMENT</h4>
        <mat-divider style="margin-bottom: 25px"></mat-divider>
        <!--row1-->
        <div class="flexContainer" fxLayoutGap="60px">
            <mat-form-field appearance="outline">
                <mat-label>Card Number</mat-label>
                <input matInput placeholder="card number" type="text" [formControl]="cardNumber">
                <mat-icon matSuffix>credit_card</mat-icon>
                <mat-error *ngIf="cardNumber.invalid">{{getCreditCardError()}}</mat-error>
            </mat-form-field>

            <div class="flexContainer">
                <!--month expire drop down-->
                <mat-form-field appearance="outline" style="width: 100px;">
                    <mat-label>Month</mat-label>
                    <mat-select [formControl]="cardExpireMonth">
                        <mat-option *ngFor="let month of months" [value]="month">
                            {{month}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="cardExpireMonth.invalid">You must Select a Value</mat-error>
                </mat-form-field>
                <!--expire year drop down-->
                <mat-form-field appearance="outline" style="width: 100px">
                    <mat-label>Year</mat-label>
                    <mat-select [formControl]="cardExpireYear">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="cardExpireYear.invalid">You must Select a Value</mat-error>
                </mat-form-field>
                <!--card security code-->
                <mat-form-field appearance="outline" style="width: 100px">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="code" type="text" [formControl]="cardSecurityCode" [maxlength]="4">
                    <mat-error *ngIf="cardSecurityCode.invalid">You must enter a value</mat-error>
                </mat-form-field>
            </div>
        </div>
        <app-billing-form formControlName="billingAddress"></app-billing-form>
        <!--confirm-->
        <mat-divider style="margin-bottom: 25px"></mat-divider>
        <div style="margin-bottom: 25px;" *ngIf=error>
            <app-error-banner [errorMessage]="errorMessage"></app-error-banner>
        </div>
        <div class="flexContainer" fxLayoutAlign="end" style="margin-bottom: 10px;margin-left:10px;">
            <button color="primary" mat-raised-button (click)="purchase()" [disabled]="purchaseForm.invalid">
                Confirm & Purchase
            </button>
        </div>
    </div>
</form>
