<body class="body">
    <app-top-nav-bar></app-top-nav-bar>
    <div class="scrollDiv">
        <div class="content">
            <div class="storeBanner"></div>
            <div style="text-align: right">
                <button mat-raised-button  style="margin-right: 30px" [matMenuTriggerFor]="showOutOfStock">
                    <mat-icon>list</mat-icon>
                    Options
                </button>
            </div>
            <mat-menu #showOutOfStock>
                <button mat-menu-item (click)="getProductsOptions(false)">Show Out Of Stock</button>
                <button mat-menu-item (click)="getProductsOptions(true)">Hide Out Of Stock</button>
            </mat-menu>
            <mat-card class="shopCatalog">
                <div *ngIf="!products">We Had An Issue Checking Our Inventory Please Refresh</div> 
                <div *ngIf="products?.length==0">Looks Like We Are Out of Products At The Moment</div> 
                <div class="productRow" fxLayoutGap="32px">
                    <app-product-card 
                    *ngFor="let product of currentPage" 
                    [title]="product.title" 
                    [inventory]="product.inventoryCount" 
                    [price]="product.price">
                    </app-product-card>
                </div>
            </mat-card>
            <div>
                <mat-paginator [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="onPageChange($event)"
                    #paginator>
                </mat-paginator>
            </div>
        </div>
        <div class="spacer"></div>
        <app-footer></app-footer>   
    </div>
</body>

