<div style="padding: 30px">
    <h2 mat-dialog-title>About This Site</h2>
    <div mat-dialog-content>
        <p>By: Jason Wang</p>
        <div class="button">
            <button mat-raised-button (click)="goToLink('https://github.com/jman19')">
                <mat-icon svgIcon="github"></mat-icon>
                Visit My GitHub
            </button>
        </div>
        <div class="button">
            <button mat-raised-button (click)="goToLink('https://www.linkedin.com/in/jason-wang-983035158/')">
                <mat-icon svgIcon="linkedin"></mat-icon>
                Visit My Linkedin
            </button>
        </div>
        
    </div>
</div>
