<div style="padding: 30px">
        <h2 mat-dialog-title style="text-align: center">Thank You For Your Purchase</h2>
        <div mat-dialog-content>
            <div class="flexContainer" fxLayoutGap="25px" style="justify-content: center;margin-bottom: 10px">
                <button color="primary" mat-raised-button (click)="backToStore()">
                    <mat-icon>store</mat-icon>
                    Back To Store
                </button>
                <button color="primary" mat-raised-button (click)="goToLink('https://www.linkedin.com/in/jason-wang-983035158/')">
                    <mat-icon>track_changes</mat-icon>
                    Order Tracking
                </button>
            </div>
        </div>
    </div>
    
