<body class="body">
    <app-top-nav-bar></app-top-nav-bar>
    <div class="scrollDiv">
        <!--Dont load checkOut list until products and prices have been fetched and only load this section if user has stuff in cart-->
        <div class="content" *ngIf="productsList && prices && productsList.length>0">
            <mat-list *ngIf="productsList && prices">
                <h3 mat-subheader>Items</h3>
                <mat-list-item *ngFor="let product of productsList" style="min-height: 90px">
                    <app-product-row product={{product}} amount={{getItemAmount(product)}} 
                    price={{getProductPrice(product)}}></app-product-row>
                    <div style="min-height: 30px;"></div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
            <div class="flexContainer" fxLayoutAlign="end" fxLayoutGap="32px">
                <div class="totalDisplay" style="margin-right: 10px;">
                    Total: {{cart?.totalCost | currency: 'CAD'}}
                </div>
            </div>
            <div class="flexContainer" fxLayoutAlign="end" fxLayoutGap="32px" style="margin-top: 25px">
                <button  style="margin-left: 35px" mat-raised-button (click)="purchase()">
                    <mat-icon>check_circle</mat-icon>
                    Check Out
                </button>
            </div>
            
        </div>
        <!--Inform user they have no items in cart-->
        <div class="content" *ngIf="productsList && prices && productsList.length==0">
            <div class="message">
                No Items In Cart 
                <button  style="margin-left: 35px" mat-raised-button (click)="backToStore()">
                    <mat-icon>store</mat-icon>
                    Back To Store
                </button>
            </div>
        </div>
        <div class="spacer"></div>
        <app-footer></app-footer>   
    </div>
</body>
