<div class="page">
        <app-general-nav-bar></app-general-nav-bar>
        <app-error-banner [errorMessage]="errorMessage" *ngIf="error"></app-error-banner>
        <div class="absoluteCenter">
            <mat-card class="sign-card"> 
                <h2 style="text-align: center">Begin Your Shopping Journey!</h2>
                <div class="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="example@mail.com" type="email" [formControl]="email">
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" [formControl]="password">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error *ngIf="password.invalid">{{getPassWordErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="center">
                    <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Confirm Password" type="password" [formControl]="confirmPassword">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="confirmPassword.invalid">{{getPassWordConfirmErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <!--The content below is for the sign up/sign in-->
                <div class="groupRowCenter" style="margin-left: 20px">
                    <button mat-raised-button style="margin-right: 20px" (click)="submitSignUp()">
                        <mat-icon>launch</mat-icon>
                        Sign Up
                    </button>
                    <button mat-raised-button (click)="goToLogin()">
                        <mat-icon>input</mat-icon>
                        Sign In
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
