.error_banner{
    box-shadow: 0px -5px 0px 0px #FF0000;
    border: black;
    outline: 5px;
    padding: 20px;
    position: relative;
    background-color:#F9F9FA;
    color: #FF0000;
    max-width: 40%;
    margin: auto;
    width: auto;
}

.icon{
    vertical-align: middle;
}
